# Compiled Files
*.o
*.obj
*.exe
*.dll
*.so
*.out

# *.cpp
# *.h
# *.hpp
Faint/Faint.vcxproj
Faint/Faint.vcxproj.filters
Faint/Faint.vcxproj.user

.vs/
bin/
bin-int/
obj/
build/
dist/
.vscode/
.idea/
*.user
*.suo